<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Avada Consultant</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">

            <div class="chat-section">
                <div :class="{active : check}" class="chat mb-2">
                    <div class="img-min-expert">
                        <img src="images\images-avada-theme\marketing-expert-cta.png" alt="">
                    </div>
                    <div @click="isActive()" class="close-chat">
                        <span><i class="fas fa-times"></i></span>
                    </div>
                    <div class="text-chat">
                        <p>This is a free HubSpot live Chat. You can create your own chat flows and engage your customers with Avada & HubSpot!</p>
                    </div>
                </div>
                <div class="chat-bottom d-flex justify-content-end">
                    <div @click="isActive()" class="chat-icon-box">
                        <span></span>
                    </div>
                </div>

            </div>

            <!--                         nav                   -->
            <header class="nav">
                <div class="container">
                    <div class="row h-100 d-flex justify-content-between">

                        <!--         logo         -->
                        <div id="logo-box" class="col-md-2 my-auto">
                            <div class="logo-content w-100">
                                <img class="w-100" src="images/images-avada-theme/logos/avada-marketing-logo-2x-200x37.png" alt="">
                            </div>
                        </div>

                        <!--         menu         -->
                        <!--             set static menu, then do dynamic with vuejs -->
                        <div id="menu" class="col-md-6 my-auto">
                            <ul class="d-flex justify-content-between my-auto pb-1">
                                <li v-for="(li, name) in nav_menu">
                                    <a class="text-capitalize" href="#">{{name}}</a>
                                </li>
                            </ul>
                        </div>


                        <div class="col-md-4 pr-0 d-flex justify-content-end ">
                        <!--         right menu      -->
                            <div class="phone-content my-auto pb-1 pr-4">
                                <!--     phone     -->
                                <!--        make the phone number dynamic so you can easily change it   -->
                                    <span class="icon-phone color-orange"></span>
                                <span>{{number_phone}}</span>

                            </div>
                            <div class="btn my-auto pb-1 ml-2">
                                    <button class="my-btn light" type="button" name="button">
                                        Free Quote
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

            <!--                         main                   -->
            <main id="main" class="container-fluid">
                <div class="section-main row">
                    <!--             jumbotron             -->
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container h-100">
                            <div class="row h-100 pb-5">
                                <!--   title in jumbotron   -->
                                <div class="col-md-6">
                                    <div class="text-jumbotron mt-4">
                                        <h1 class="mb-4">
                                            Unlock Your Online Growth Potential
                                        </h1>
                                        <p class="p-light mb-4">
                                            Online marketing to secure customer retention, leads, and sales. We focus on the bigger picture.
                                        </p>
                                        <!--     button fff(white)     -->
                                        <button class="my-btn fff" type="button" name="button">
                                            Our Services
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-1 h-100 p-0">
                                        <div class="form-section mt-2">
                                            <div class="info-expert d-flex flex-column align-items-center">
                                                <div class="photo-expert">
                                                    <img src="images\images-avada-theme\marketing-consultant-expert.jpg" alt="">
                                                </div>
                                                <h4 class="pt-4">Richard Madsen</h4>
                                                <h6 class="pt-2">Marketing Consultant Expert</h6>
                                                <div class="phone-content pt-2 pb-4">
                                                    <!--     phone     -->
                                                    <!--        make the phone number dynamic so you can easily change it   -->
                                                    <span class="icon-phone"></span>
                                                    <span>{{number_phone}}</span>

                                                </div>
                                            </div>
                                            <div class="form-input mt-4 text-center">
                                                <div class="form-group mt-1">
                                                    <input type="text" class="form-control" placeholder="Your Name*" value="">
                                                </div>

                                                <div class="form-group mt-1">
                                                    <input type="email" class="form-control" placeholder="Your Email*" value="">
                                                </div>
                                                <div class="form-group mt-1">
                                                    <input type="text" class="form-control" placeholder="Your Phone Number*" value="">
                                                </div>
                                                <button type="button" class="my-btn w-100 mb-2" name="button">Get a callback</button>
                                                <small>By submitting my data I agree to be contacted</small>

                                            </div>

                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--                get a consultation                  -->

                    <!-- consultation brand -->
                    <div class="consultation container-fluid">
                        <div class="consultation-content container h-100">
                            <div class="row h-100 py-5">
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="consultation-image">
                                        <img src="images\images-avada-theme\consultation\consultation_blue.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-1 d-flex align-items-center py-5">
                                    <div class="row h-75 py-5">
                                        <div class="consultation-info d-flex flex-column justify-content-around">

                                            <div class="d-flex align-items-center">
                                                <span class="circle circle-blue mr-2"></span>
                                                <span>Business Growth</span>

                                            </div>
                                            <h2>Increase Brand Awareness</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor placerat luctus. Nullam sit amet ante sed orci convallis gravida et at massa.</p>
                                            <button type="button" class="my-btn w-50" name="button">Get a consultation</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- consultation sales-->
                    <div class="consultation container-fluid">
                        <div class="consultation-content container h-100">
                            <div class="row h-100 py-5">
                                <div class="col-md-4 offset-md-1 h-100 d-flex align-items-center py-5">
                                    <div class="row h-75 py-5">
                                        <div class="consultation-info d-flex flex-column justify-content-around">
                                            <div class="d-flex align-items-center">
                                                <span class="circle circle-yellow mr-2"></span>
                                                <span>Investors In People</span>

                                            </div>
                                            <h2>In-House Sales Training</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor placerat luctus. Nullam sit amet ante sed orci convallis gravida et at massa.</p>
                                            <button type="button" class="my-btn w-50" name="button">Get a consultation</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-5 offset-md-2 d-flex align-items-center justify-content-center">
                                    <div class="consultation-image-yellow">
                                        <img src="images\images-avada-theme\consultation\consultation_yellow.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- consultation social-->
                    <div class="consultation container-fluid">
                        <div class="consultation-content container h-100">
                            <div class="row h-100 py-5">
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="consultation-image">
                                        <img src="images\images-avada-theme\consultation\consultation_green.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-1 h-100 d-flex align-items-center py-5">
                                    <div class="row  h-75 py-5">
                                        <div class="consultation-info d-flex flex-column justify-content-around">

                                            <div class="d-flex align-items-center">
                                                <span class="circle circle-green mr-2"></span>
                                                <span>Social Media Analysis</span>

                                            </div>
                                            <h2>Harness Your Social Proof</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor placerat luctus. Nullam sit amet ante sed orci convallis gravida et at massa.</p>
                                            <button type="button" class="my-btn w-50" name="button">Get a consultation</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!--            brands              -->
                    <div id="brands" class="container-fluid">
                        <div class="brands-content container h-100 mt-5">
                            <div class="row h-100 py-5">
                                <div class="title-brands col-md-12 text-center">
                                    <h3>Some Brands We Work With</h3>
                                    <p>
                                        Quisque aliquet, libero consequat elementum convallis.
                                    </p>
                                </div>
                                <div class="logos-brands-box h-50 col-md-12 h-50">
                                    <div class="row pt-3">
                                        <div class="col-md-2 mx-auto">
                                            <div class="logo-brand ">
                                                <img src="images\images-avada-theme\brands\abstract.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="logo-brand">
                                                <img src="images\images-avada-theme\brands\cglobal.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="logo-brand">
                                                <img src="images\images-avada-theme\brands\digitalbox.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="logo-brand">
                                                <img src="images\images-avada-theme\brands\hemisferio.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="logo-brand">
                                                <img src="images\images-avada-theme\brands\next.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="logo-brand">
                                                <img src="images\images-avada-theme\brands\spaces.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--         expert consultant      -->
                    <div id="expert" class="container-fluid">
                        <div class="expert-content container h-100 py-5">
                            <div class="row h-100 py-5">
                                <div class="col-md-12 d-flex align-items-center">
                                    <div class="expert-row d-flex justify-content-between align-items-center w-100 py-2 px-4">
                                        <div class="expert-box d-flex justify-content-between align-items-center">
                                            <div class="photo-expert">
                                                <img src="images\images-avada-theme\marketing-expert-cta.png" alt="">
                                            </div>
                                            <div class="name-expert d-flex flex-column justify-content-between py-4 px-3">
                                                <h5>
                                                    Sandy Reiff
                                                </h5>
                                                <p class="mb-0">
                                                    Marketing Consultant Expert
                                                </p>
                                            </div>

                                            <h4 class="ml-4">Drive Leads and Sales with Avada</h4>
                                        </div>
                                        <div class="w-25 d-flex justify-content-end">
                                            <button type="button" class="my-btn light" name="button">
                                            <span><span class="icon-phone fff-hov"></span> {{number_phone}}</span></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--         case studies           -->
                    <div id="case-studies" class="container-fluid">
                        <div class="case-studies-content container h-100 py-5">
                            <div class="title col-md-12 py-5 text-center pb-5">
                                <h3>Trusted by Leading Organisations</h3>
                            </div>
                            <div class="row pb-5">
                                <div class="case row">
                                    <div class="col-md-4 ">
                                        <div class="case-box">
                                            <div class="case-img">
                                                <img class="w-100" src="images\images-avada-theme\case-studies-1-400x450.jpg" alt="">
                                            </div>
                                            <div class="case-text pt-4">
                                                <h5>
                                                    How Spaces attracted five million visitors by improving the content
                                                </h5>
                                                <h3>
                                                    200%
                                                </h3>
                                                <p>Higher revenue from digital</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="case-box">
                                            <div class="case-img">
                                                <img class="w-100" src="images\images-avada-theme\case-studies-4-400x450.jpg" alt="">
                                            </div>
                                            <div class="case-text pt-4">
                                                <h5>
                                                    How Spaces attracted five million visitors by improving the content
                                                </h5>
                                                <h3>
                                                    10x
                                                </h3>
                                                <p>Higher revenue from digital</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="case-box">
                                            <div class="case-img">
                                                <img class="w-100" src="images\images-avada-theme\case-studies-6-400x450.jpg" alt="">
                                            </div>
                                            <div class="case-text pt-4">
                                                <h5>
                                                    How Spaces attracted five million visitors by improving the content
                                                </h5>
                                                <h3>
                                                    3-year
                                                </h3>
                                                <p>Higher revenue from digital</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row py-5">
                                <div class="btn-case mx-auto">
                                    <button class="my-btn" type="button" name="button">
                                        Read More Case Studios
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!--         boost section          -->
                    <div id="boost" class="container-fluid">
                        <div class="boost-content container h-100 my-5">
                                <div class="boost-top">
                                    <div class="row py-5 mb-5">
                                        <div class="col-md-6 d-flex align-items-end">
                                            <div class="boost-top-left w-75 mx-auto pb-5">
                                                <h3>
                                                    We Boost Our Clients’ Bottom Line by Optimizing Their Growth Potential.
                                                </h3>
                                                <p>
                                                    Quisque aliquet, libero consequat elementum convallis, erat risus imperdiet pellentesque sem neque eget.
                                                </p>
                                                <button type="button" class="my-btn" name="button">
                                                    Why Work With Us
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="image-boost">
                                                <img class="w-100" src="images\images-avada-theme\we-boost-our-clients.jpg" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="boost-center">
                                    <div class="row py-5">
                                        <div class="col-md-6 d-flex align-items-center">
                                            <div class="boost-center-left w-75 mx-auto">

                                                <h4 >We Build Relationships</h4>
                                                <p>
                                                    Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer consectetur.
                                                </p>
                                                <h4 class="pt-5">Proprietary Processes</h4>
                                                <p>
                                                    Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer consectetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-5">


                                            <div class="boost-center-right py-4 d-flex">
                                                <span class="icon-boost accountability">

                                                </span>
                                                <div class="text-center-boost">
                                                    <h5 class="pb-2">Accountability</h5>
                                                    <p>
                                                        Curabitur ac leo nunc vestibulum
                                                    </p>

                                                </div>

                                            </div>
                                            <div class="boost-center-right py-4 d-flex">
                                                <span class="icon-boost transparent">

                                                </span>
                                                <div class="text-center-boost">
                                                    <h5 class="pb-2">Transparent</h5>
                                                    <p>
                                                        Curabitur ac leo nunc vestibulum
                                                    </p>

                                                </div>

                                            </div>
                                            <div class="boost-center-right py-4 d-flex">
                                                <span class="icon-boost investment">

                                                </span>
                                                <div class="text-center-boost">
                                                    <h5 class="pb-2">Investment</h5>
                                                    <p>
                                                        Curabitur ac leo nunc vestibulum
                                                    </p>

                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="boost-bottom">
                                    <div class="row">
                                        <div class="title-awards w-100 text-center py-4">
                                            <h4>Awards</h4>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="logo-award">
                                                <img src="images\images-avada-theme\awards\award-a-200x191.png" alt="">
                                            </div>
                                            <div class="text-award">
                                                <p>Winner Seo Master MAGT Smart Start Award 2017</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="logo-award">
                                                <img src="images\images-avada-theme\awards\award-b-200x191.png" alt="">
                                            </div>
                                            <div class="text-award">
                                                <p>Winner Seo Master MAGT Smart Start Award 2017</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="logo-award">
                                                <img src="images\images-avada-theme\awards\award-c-200x191.png" alt="">
                                            </div>
                                            <div class="text-award">
                                                <p>Winner Seo Master MAGT Smart Start Award 2017</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="logo-award">
                                                <img src="images\images-avada-theme\awards\award-d-200x191.png" alt="">
                                            </div>
                                            <div class="text-award">
                                                <p>Winner Seo Master MAGT Smart Start Award 2017</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                        </div>
                    </div>

                    <!--         testimonial            -->
                    <div id="testimonial" class="container-fluid">
                        <div class="testimonial container">
                            <div class="row py-5">
                                <div class="col-md-6">
                                    <div class="img-testimonial py-5">
                                        <img class="w-100" src="images\images-avada-theme\large-testimonial-600x583.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-1 my-auto">
                                    <div class="cit-testimonial">
                                        <h4>
                                            “The team at Avada Marketing Consultant is fabulous. They helped us unlock our potential online and offline. We have experienced year on year growth due to their progressive approach.”
                                        </h4>
                                        <h5 class="pt-5">Kate Schadler</h5>
                                        <small>Marketing Consultant – Abstract</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--          resources             -->
                    <div id="resources" class="container-fluid">
                        <div class="resources-content container h-100 py-5">
                            <div class="row py-5">
                                <div class="col-md-6">
                                    <h3 class="">Marketing Resources: Insider Advice on How to Increase Online Sales</h3>
                                </div>
                                <div class="col-md-3 offset-md-3 d-flex align-items-end pb-2">
                                    <button class="my-btn" type="button" name="button">
                                        Explore All Resources
                                    </button>
                                </div>
                            </div>
                            <div class="row py-5">
                                <div class="col-md-4">
                                    <div class="img-resources mb-3">
                                        <img src="images\images-avada-theme\blog-posts-6-400x267.jpg" alt="">
                                    </div>
                                    <h4>
                                        Marketing Tips And Tricks For Your Website
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="img-resources mb-3">
                                        <img src="images\images-avada-theme\blog-posts-5-400x267.jpg" alt="">
                                    </div>
                                    <h4>
                                        How to Write Stunning Blog Post Titles
                                    </h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="img-resources mb-3">
                                        <img src="images\images-avada-theme\blog-posts-4-400x267.jpg" alt="">
                                    </div>

                                        <h4>
                                            Techniques to Reduce Facebook Ads Spend
                                        </h4>
                                </div>


                            </div>

                        </div>
                    </div>

                    <!--         expert callback        -->
                    <div id="callback" class="container-fluid">
                        <div class="callback-content container h-100 py-5">
                            <div class="row py-5">
                                <div class="col-md-6">
                                    <div class="callback-top pt-4">
                                        <h2>
                                            Let’s Make Things Happen
                                        </h2>
                                        <p class="py-3">
                                            Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer consectetur.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="callback-bottom py-4">
                                        <p class="font-italic pb-3">
                                            “The team at Avada Marketing Consultant is fabulous. They helped us unlock our potential online and offline. We have experienced year on year growth due to their progressive approach.”
                                        </p>
                                        <h5 class="mb-0">
                                            George Anderson
                                        </h5>
                                        <small>
                                            Digitalbox CEO
                                        </small>

                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-1 h-100 p-0">
                                    <div class="form-section mt-2 h-100">
                                        <div class="info-expert d-flex flex-column align-items-center">
                                            <div class="photo-expert">
                                                <img src="images\images-avada-theme\marketing-consultant-expert.jpg" alt="">
                                            </div>
                                            <h4 class="pt-4">Richard Madsen</h4>
                                            <h6 class="pt-2">Marketing Consultant Expert</h6>
                                            <div class="phone-content pt-2 pb-4">
                                                <!--     phone     -->
                                                <!--        make the phone number dynamic so you can easily change it   -->
                                                <span class="icon-phone"></span>
                                                <span>{{number_phone}}</span>

                                            </div>
                                        </div>
                                        <div class="form-input mt-4 text-center">
                                            <div class="form-group mt-1">
                                                <input type="text" class="form-control" placeholder="Your Name*" value="">
                                            </div>

                                            <div class="form-group mt-1">
                                                <input type="email" class="form-control" placeholder="Your Email*" value="">
                                            </div>
                                            <div class="form-group mt-1">
                                                <input type="text" class="form-control" placeholder="Your Phone Number*" value="">
                                            </div>
                                            <button type="button" class="my-btn w-100 mb-2" name="button">Get a callback</button>
                                            <small>By submitting my data I agree to be contacted</small>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <footer class="container-fluid">
                <div class="container h-100">
                    <div class="row h-100 py-5">
                        <div class="col-md-4 h-100">
                            <div class="left-footer">
                                <h4>
                                    Grow Your Online Business <br>
                                    Strategically, and Improve <br>
                                    Customer Retention.
                                </h4>
                                <div class="logo-social pt-3">
                                    <i v-for='logo in logos' class="pr-3" :class="'fab fa-'+logo"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 offset-md-1 h-100 pl-3">
                            <div class="row">
                                <div v-for="(ul, name) in footer_menu" class="col-md-4">
                                    <ul>
                                        <span class="text-capitalize font-weight-bold">{{name}}</span>
                                        <li class="py-2" v-for="link in ul">
                                            <a href="#">{{link}}</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row bottom-footer mb-5">

                        <div class="col-md-5">
                                <small>&copy; 2020 &#8226; Avada Consultant &#8226; Powered by WordPress
                                </small>
                        </div>

                        <div class="col-md-4 text-left">
                            <small>Call Us {{number_phone}}</small>
                        </div>

                        <div class="col-md-3 text-center">
                            <small>{{email_expert}}</small>
                        </div>

                    </div>
                </div>
            </footer>
        </div>

    <script src="main.js" charset="utf-8"></script>
    </body>
</html>
