*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/*         equal items          */

h1{
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

h2{
    font-size: 50px;
    font-weight: bold;
}

h3{
    font-size: 42px;
}

h4{
    font-size: 28px;
    font-weight: 500px;
}


h6{
    font-weight: 400px;
    color: #777777;
}

small{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

p{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

a{
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #f76210;
}

/* .small-black{
    color: #000;
} */

.p-light{
    color: #fff;
    font-size: 24px;
}

.my-btn{
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    color: #fff;
    background-color: #f76210;
}

.my-btn:hover{
    cursor: pointer;
    background-color: #e9570b;
}

.my-btn.fff:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


.my-btn.light{
    background-color: #ffe7d9;
    color: #f76210;
}

.my-btn.light:hover{
    background-color: #eb621f;
    color: #ffe7d9;
    cursor: pointer;
}

.photo-expert{
    width: 80px;
    height: 80px;
}

.photo-expert img{
    width: 100%;
    border-radius: 50%;
}

#boost, #resources{
    background: rgb(255,255,255);
background: linear-gradient(18deg, rgba(255,255,255,0.700717787114846) 37%, rgba(227,228,226,0.6979166666666667) 100%);
}

.img-resources, .case-img{
    background: rgb(247,98,16);
background: linear-gradient(180deg, rgba(247,98,16,0) 4%, rgba(247,98,16,1) 67%);
}

#resources img:hover, #case-studies img:hover{
    opacity: 0.7;
}

/*         icon-chat fixed  */
.chat-icon-box span::before{
    font-family: "Font Awesome 5 Free";
    content: "\f27a";
    font-weight: 900;
    font-size: 22px;
    color: #fff;
}

.chat-section{
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 2;

}


.chat-icon-box{
    width: 45px;
    height: 45px;
    background-color: #f76210;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.chat{
    width: 240px;
    height: 190px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 6px;
    position: relative;

}

.close-chat{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.close-chat span:hover{
    color: #000;
}


.close-chat span{
    color: rgba(0,0,0,0.2)
}

.img-min-expert{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: 90px;

}

.img-min-expert img{
    width: 100%;
    border-radius: 50%;
}

.text-chat{
    padding: 16px 12px;
    padding-top: 38px;
    margin: auto;
}

.text-chat p{
    font-size: 17px;
}

.active{
    display: none;
}


/* ------------ nav -------------- */
.nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
}

#menu ul li a, .phone-content span {
    color: black;
    font-weight: 500;
    text-decoration: none;
}
#menu ul li a{
    padding: 8px 4px;
}

#menu ul li a:hover{
    color: #f76210;
    border-bottom: 2px solid #f76210;
}

.phone-content{
    cursor: pointer;
}

.icon-phone::before{
    font-family: "Font Awesome 5 Free";
    content: "\f879";
    font-weight: 900;
    padding: 0 10px;
}

.icon-phone.color-orange{
    color: #f76210;

}



/*                     jumbotron                     */
.jumbotron{
    width: 100%;
    height: 600px;
    background-image: url(images/images-avada-theme/marketing-intro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.my-btn.fff{
    background-color: #fff;
    color: #000;
}

.my-btn.fff::after{
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left:10px;
}

/*     form section into jumbotron */
.form-section{

    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 24px 32px -6px
}

.form-section h4{
    color: #000;
}

.info-expert span{
    color: #f76210;
}

.form-input input{
    border-radius: 10px;
    padding: 8px;
}

/*                 consultation section */
/* .consultation{
    height: 600px;
} */

.consultation-image{
    width: 500px;
    height: 500px;
    padding-top: 70px;
}

.consultation-image-yellow{
    width: 550px;
    height: 550px;
    padding-top: 120px;
}

.consultation-image-yellow img{
    width: 100%;
}



.circle{
    height: 40px;
    width:  40px;
    border-radius: 50%;
}

.circle-yellow{
    background-color: #efd540;
}
.circle-blue{
    background-color: #0065ff;
}
.circle-green{
    background-color: #3dc47f;
}

.consultation-image img{
    width: 100%;
}


/*               brands logo          */
.logo-brand{
    width: 120px;
    height: 30px;
    margin: auto;
}

.logo-brand img{
    width: 100%;

}

/*                 expert row                  */
.expert-row{
    border-radius: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 24px 32px -6px
}

.expert-row h3{
    letter-spacing: 1px;
}

#expert h4{
    font-size: 24px;
}

/*                 case studies             */
.case-box{
    width: 100%;
}

/*         aerea boost */


.image-boost img{
    border-radius: 8px;
}

.icon-boost{
    width: 70px;
    height: 70px;
    border: 3px solid #f76210;
    border-radius: 14px;
    margin-right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-boost::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f76210;
    font-size: 43px;
}

.icon-boost.accountability::before{
    content: "\f571";
}

.icon-boost.investment::before{
    content: "\f201";
}

.icon-boost.transparent::before{
    content: "\f570";
}



/*         logos awards         */
.logo-award{
    width: 150px;
    height: 150px;
    margin: auto;
}

.logo-award img{
    width: 100%;
}

.text-award{
    text-align: center;
}

.text-award p{
    font-size: 18px;

}

/*             testimonal          */
.img-testimonial img{
    border-radius: 8px
}

.testimonial small{
    color: #000;
}

/*         resources         */
.img-resources{
    width: 98%;
    margin: auto;
}

.img-resources img{
    width: 100%;
}



/*         callback         */
#callback{
    background-color: #000;
    color: #fff;
}

.callback-top p{
    font-size: 26px;
}
.callback-bottom p{
    font-size: 20px;
}

.callback-bottom small{
    color: rgba(256, 256, 256, 0.5);
}

#callback hr{
    border: 1px solid rgba(256, 256, 256, 0.2);
    width: 20%;
}

/*         footer          */


footer h4{
    font-size:
}

.bottom-footer small{
    color: #000;
}
